.transition button{
    background-color: black;
    color: white;
    border: 0;
    width: 110px;
    height: 34px;
}
.transition button:hover {
    background-color: rgba(29, 29, 29, 0.89);
    outline: none;
}
.transition img{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-style: none;
    margin-top: 80px;
}
@media all and (max-width: 1000px) {
    .transition img{
        margin-top: 70px;
    }
}
@media all and (max-width: 800px) {
    .transition img{
        margin-top: 60px;
    }
}
@media all and (max-width: 500px) {
    .transition img{
        margin-top: 50px;
    }
}