.main{
    display: grid;
    grid-template-areas:
    'header'
    'maincontent';
grid-template-rows: auto auto ;
}
.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    margin:40px 0px 0px;
}
.header h3{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 40px;
    padding: 0;
    text-align: center;
}

.Content{
    grid-area: maincontent;
    
}
.mainContent{
    display: grid;
    grid-template-areas:
    'mainContentUp'
    'mainContentDown';
grid-template-rows: auto auto ;
}
.product{
    grid-area: mainContentUp;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.component img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    max-width: 285px;
    max-height: 350px;
    transition: all 0.5s;
    min-height: 350px;
}
.component img:hover {
    transform: scale(1.05);
}
.image{
    overflow: hidden;
    max-width: 285px;
    max-height: 350px;
    
}
.component {
    max-width: 285px;
    margin:  0px 50px 0px;
    justify-content: center;
    align-items: center;
    
}
.productId{
      display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 3px 20px;
    font-family: 'Montserrat', sans-serif;
     font-size: 19px;
     font-weight: 540;
     height: 40px;
}
.stripe{
    grid-area: mainContentDown;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}



.increase{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.increase span{
    font-size: 20px;
    
}
.increase button{
    width: 26px;
    height: 30px;
    margin: 3 3px;
    align-items: center;
    text-align: center;
}

.removeFromCart{
    margin-left: 4px;
}
.removeFromCart button:hover{
    background-color: red;
    color: white;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #bf1650;
    text-decoration: none;
}


.size{
    display: flex;
    justify-content: center;

}
.size button{
    margin: 0px 3px;
    border-radius: 3px;
    background-color: white;
}
.size button:hover{
    color: #bf1650;
    background-color: rgb(195, 192, 192);
}
.chosenSize{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
}


.price{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    margin-top: 12px;
}
.favoritesandCart{
  display: flex;
  flex-direction: row;
}
.favoritesandCart button{
  margin: 15px;
  position: relative;
  left:-30px
}
.noProduct {
    grid-area: maincontent;
}
.noProduct p{
text-align: center;
font-size: 20px;
margin: 30px;
}

.noProduct span button{
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
  align-items: center;
  font-size: 20px;
  height: 85px;
  width: 180px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.noProduct span button:before,
.noProduct span button:after{
  position: absolute;
  content: "ПЕРЕЙТИ В КАТАЛОГ";
  height: 85px;
  width: 180px;
  display: flex;
  top:-20px;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  
}
.noProduct span button:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.noProduct span button:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.noProduct span button:hover{
    
  transform: translateZ(-25px) rotateX(-90deg);
}


.removeFromFavorites span button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
.removeFromFavorites span button:before,
.removeFromFavorites span button:after{
    content: "ОЧИСТИТЬ ИЗБРАННОЕ";
    height: 104%;
    width: 105%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }
.removeFromFavorites span button:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  .removeFromFavorites span button:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  .removeFromFavorites span button:hover{
      
    transform: translateZ(-25px) rotateX(-90deg);
  }


  
.addToCart span button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
.addToCart span button:before,
.addToCart span button:after{
    content: "ДОБАВИТЬ В КОРЗИНУ";
    height: 104%;
    width: 105%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }
.addToCart span button:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  .addToCart span button:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  .addToCart span button:hover{
      
    transform: translateZ(-25px) rotateX(-90deg);
  }
  @media screen and (max-width: 800px) {
    .component {
      max-width: 285px;
      margin:  0px 50px 40px;
      justify-content: center;
      align-items: center; 
  }
  }

  @media screen and (max-width: 500px) {
    .noProduct span button{
      display: flex;
      margin: 0 auto;
      margin-top: 10px;
      align-items: center;
      font-size: 20px;
      height: 70px;
      width: 140px;
      border-radius: 5px;
      letter-spacing: 1px;
      transform-style: preserve-3d;
      transform: translateZ(-25px);
      transition: transform .25s;
      font-family: 'Montserrat', sans-serif;
      
    }
    .noProduct span button:before,
    .noProduct span button:after{
      position: absolute;
      content: "ПЕРЕЙТИ В КАТАЛОГ";
      height: 70px;
      width: 140px;
      display: flex;
      top:-20px;
      align-items: center;
      justify-content: center;
      border: 3px solid black;
      box-sizing: border-box;
      border-radius: 5px;
      
    }
    .noProductButton span button{
        font-size: 14px;
      }
      .favoritesandCart{
        display: block;
        margin: -20px;
      }
      .favoritesandCart button{
        position: relative;
        left: 21%;
      }
      .header {
        margin:20px 0px 0px;
    }
    .header h3{
      font-size: 20px;
      margin-bottom: 0px;
  }
    .image{
      max-width: 260px;
      max-height: 330px;    
  }
  .component {
    margin:  0px 10px 40px; 
}
.chosenSize{
  font-size: 16px;
}

    
  }
  @media screen and (max-width: 400px) {
    
      .favoritesandCart button{
        position: relative;
        left: 23%;
      }
   
    
  }



