.cart{
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1em;
}
.cart h3{
    justify-content: center;
}
.cart button{
    background-color: black;
    color: white;
    border: 0;
    width: 200px;
    height: 50px;
}
.cart button:hover {
    background-color: rgba(29, 29, 29, 0.89);
    outline: none;
}