.Color h3{
    position: absolute;
    left: 1480px;
    top: 540px;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #131212;
}
.circle1{
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: #c6b186;
    position: relative;
    top: 510px;
    left: 1480px;
}
.circle2{
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.83);
    position: relative;
    top: 470px;
    left: 1545px;
}
.circle3{
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: rgba(35, 140, 215, 0.83);
    position: relative;
    top: 430px;
    left: 1605px;
}
.circle4{
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: rgba(231, 71, 8, 0.83);
    position: relative;
    top: 390px;
    left: 1665px;
}
.circle5{
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: #c6bfbf;
    position: relative;
    top: 350px;
    left: 1725px;
}