.container{
    display: grid;
    grid-template-areas:
    'Header'
    'maincontent'
    'footer';
grid-template-rows: 0.2fr auto 0.2fr;
}
.container h3{
    grid-area:'Header';
    margin: 150px;


}
.product{
    grid-area:'maincontent';
    display: block;
    text-align: center;
    letter-spacing: 1px;

}
.product p{
   margin-top:20px ;
    font-size: 20px;
}



