.transition img{
    width: 500px;
    height: 600px;
    object-fit: cover;
}
.transition{
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    object-fit: cover;
    width: 500px;
    height: 600px;
}

@media all and (max-width:1000px){
    .transition{
        width: 350px;
        height: 500px;
    }
    .transition img{
        width: 350px;
        height: 500px;
    }
}

@media all and (max-width:800px){
    .transition{
        margin-right: 40px;
    }
}

@media all and (max-width:700px){
    .transition{
        width: 300px;
        height: 400px;
        margin: 0;
    }
    .transition img{
        width: 300px;
        height: 400px;
    }
}

@media all and (max-width:600px){
    .transition{
        width: 240px;
        height: 370px;
    }
    .transition img{
        width: 240px;
        height: 370px;
    }
}

@media all and (max-width:500px){
    .transition{
        width: 190px;
        height: 300px;
    }
    .transition img{
        width: 190px;
        height: 300px;
    }
}





