.component {
    display: grid;
    grid-template-areas: 'mainContent' 'specification';
    grid-template-rows: auto auto;
    justify-content: center;
}

.specification {
    grid-area: specification;
}

.mainContent {
    grid-area: mainContent;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.rightContent {
    justify-content: center;
    margin-left: 50px;
    max-width: 40%;
}

.image {
    overflow: hidden;
    max-width: 285px;
    max-height: 350px;
    margin-left: 100px;
}

.component img {
    object-fit: cover;
    border-radius: 3px;
    max-width: 285px;
    max-height: 350px;
    transition: all 0.5s;
}

.component img:hover {
    transform: scale(1.05);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 15px;
}

.productId {
    margin: 0;
    font-family:  'Ubuntu', sans-serif;
    font-size: 34px;
    font-weight: 300;
}

.favorites {
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    display: flex;
    margin: 11px 0 0 30px;
}

.favorite:active {
    color: red;
    transition: 0s;
    z-index: 1;
}

.favorite:hover {
    color: red;
    transition: 0s;
    z-index: 1;
}
.category{
    position: relative;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 25px;
}



.price {
    display: flex;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: red;
    margin: 0px 0;
}

.price p {
    color: black;
}

.price span {
    margin-left: 10px;
    font-weight: 200;
    color: #999999;
    text-decoration: line-through;
}
.bonuses{
    position: relative;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 10px 0 20px;
}
.sizeTitle{
  font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.size {
    display: flex;
}

.size button {
    border-radius: 3px;
    margin: 3px;
    background: transparent;
    outline: none;
    border: none;
}

.size button:hover {
    color: #bf1650;
    background-color: #eaeaead2;
}


.chosenSize {
    display: flex;
    margin: 5px 0 20px;
}
.chosenSize p {
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.chosenSize span {
   margin: -3.7px 4px;
}





.addToCart {
    display: flex;
}

span button  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    max-height: 40px;
    max-width: 130px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
}
