.component {
    display: grid;
    grid-template-areas: 'mainContent' 'specification';
    grid-template-rows: auto auto;
    justify-content: center;
}

.specification {
    grid-area: specification;
    margin: 20px 0;
}
.specification h3{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.specificationMain{
    max-width: 570px;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.mainContent {
    grid-area: mainContent;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.rightContent {
    justify-content: center;
    margin-left: 50px;
    max-width: 50%;
}

.image {
    overflow: hidden;
    display: flex;
}
.image1{
    overflow: hidden;
    justify-content: center;
    margin-right: 15px;

}
.image1 img{
    display: block;
    min-height: 140px;
    min-width: 100px;
    max-width: 140px;
    max-height: 100px;
    transition: all 0.5s;
    object-fit: cover;
    margin-bottom: 10px;
    opacity: 80%;
    
}
.image1 img:hover{
    transform: scale(1.05);
    opacity: 100%;
}
.specificationMain p {
    text-indent: 20px;
}


.title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 15px;
}

.productId {
    margin: 0;
    font-family:  'Ubuntu', sans-serif;
    font-size: 34px;
    font-weight: 300;
}

.favorites {
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    display: flex;
    margin: 11px 0 0 30px;
}

.favorite:active {
    color: red;
    transition: 0s;
    z-index: 1;
}

.favorite:hover {
    color: red;
    transition: 0s;
    z-index: 1;
}
.category{
    position: relative;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 50px;
}

.price {
    display: flex;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: red;
    margin: 0px 0;
}

.price p {
    color: black;
}

.price span {
    margin-left: 10px;
    font-weight: 200;
    color: #999999;
    text-decoration: line-through;
}
.bonuses{
    position: relative;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 10px 0 60px;
}
.sizeTitle{
  font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.size {
    display: flex;
    margin: 10px 0;
}

.size button {
    border-radius: 3px;
    margin: 10px 3px ;
    background: transparent;
    outline: none;
    border: none;
}

.size button:hover {
    color: #bf1650;
    background-color: #eaeaead2;
}


.chosenSize {
    display: flex;
    margin: 15px 0 20px;
}
.chosenSize p {
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.chosenSize span {
   margin: -3.7px 6px;
}
.delivery{
    display: flex;
    margin: 40px 0;
}
.delivery span{
    padding-bottom: 3px;
    margin-left: 10px;
    border-bottom: 2px solid #000;
}
.delivery a:hover{
 color: black;
}
.addToCartProduct button{
   margin-left: 4px;
}

@media all and (max-width:800px){
    .rightContent {
        justify-content: center;
        margin-left: 50px;
        max-width: 50%;
    }
    
.title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 15px;
}

.productId {
    margin: 0;
    font-family:  'Ubuntu', sans-serif;
    font-size: 34px;
    font-weight: 300;
}
.category{
    position: relative;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 50px;
}

.price {
    display: flex;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: red;
    margin: 0px 0;
}

.price p {
    color: black;
}

.price span {
    margin-left: 10px;
    font-weight: 200;
    color: #999999;
    text-decoration: line-through;
}
.bonuses{
    position: relative;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 10px 0 60px;
}
.sizeTitle{
  font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.size {
    display: flex;
    margin: 10px 0;
}

.chosenSize {
    display: flex;
    margin: 15px 0 20px;
}
.chosenSize p {
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.chosenSize span {
   margin: -3.7px 6px;
}
.delivery{
    display: flex;
    margin: 40px 0;
}
.delivery span{
    padding-bottom: 3px;
    margin-left: 10px;
    border-bottom: 2px solid #000;
}
}


