
.Content {
    display: grid;
    grid-template-areas:
    'ShoesUpContent'
    'ShoesContent';
    grid-template-columns: auto auto;
    justify-content: center;
}
.ShoesUpContent{
    grid-area: ShoesUpContent;
}
.ShoesContent{
    grid-area: ShoesContent;
    display: grid;
    grid-template-areas:
    'select' 'maincontent';
    grid-template-rows:auto auto;
    letter-spacing: 1px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #bf1650;
    text-decoration: none;
}

.select {
    grid-area: select;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: blanchedalmond;
    max-width: 600px;
    max-height: 200px;
    margin: 40px auto;
}


.maincontent {
    grid-area: maincontent;

}
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 200px;
}
.component img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    max-width: 285px;
    max-height: 350px;
    transition: all 0.5s;
    min-height: 350px;

}
.component img:hover {
    transform: scale(1.05);

}
.image{
    overflow: hidden;
    max-width: 285px;
    max-height: 350px;
 
}
.component {
    max-width: 285px;
    max-height: 350px;
    margin-bottom:220px;
    justify-content: center;
    align-items: center;
    margin:  0px 10px 270px;
}
.productId{
      display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 3px 20px;
    font-family: 'Montserrat', sans-serif;
     font-size: 19px;
     font-weight: 540;
     height: 50px;
}
.size{
    display: flex;
    justify-content: center;

}
.size button{
    margin: 3px;
    border-radius: 3px;
    
}
.size button:hover{
    color: #bf1650;
    background-color: white;
}



.price{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    margin-top: 15px;
}



.addToCart {
    display: flex;
    justify-content: center;
}
.favorites{
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    display: flex;
     margin: -430px 240px 400px;
}
.favorite{
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius:15px;
    background-color: white;
    
}
.favorite:active{
    color: red;
    transition: 0s;
    z-index: 1;
}
.favorite:hover{
    
    color: red;
    transition: 0s;
    z-index: 1;
}



  span button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    max-height: 40px;
    max-width: 130px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  span button:before,
  span button:after{
    position: absolute;
    content: "Add to Cart";
    height: 40px;
    width: 130px;
    display: flex;
    top:-2px;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }
  span button:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  span button:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  span button:hover{
      
    transform: translateZ(-25px) rotateX(-90deg);
  }
  
  