.Content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'mainContent color ';
    grid-template-columns: auto auto;
    overflow: hidden;
    margin-bottom: 300px;
    justify-content: center;
}

.mainContent{
    grid-area: mainContent;
}

/* .color {
    grid-area: color;
    margin: 50px 20px 0px;
}

.color h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #131212;
}

.selectColor {
    width: 200px;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gray {
    background-color: rgb(182, 153, 74);
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.black {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.blue {
    background-color: rgb(127, 127, 228);
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.yellow {
    background-color: rgb(252, 206, 91);
    width: 40px;
    height: 40px;
    border-radius: 50px;
} */

