.Jackets img{
    position: relative;
    top: 40px;
    left: 430px;
}
.Hoodies img{
    position: relative;
    top: -260px;
    left: 1040px;
}
.Pants img{

    position: relative;
    top: -215px;
    left: 430px;
}
.Shoes img{

    position: relative;
    top: -515px;
    left: 1040px;
}