.main{
    grid-area:sale;
    display: grid;
    grid-template-areas: 'header'  'maincontent';
    grid-template-rows:auto auto;
}
.header {
    grid-area: header;
    display: flex;
    justify-content: center;
}
.header h3{
    font-size: 34px;
}
.Content {
    grid-area: maincontent;
} 