.main h3{
    position: relative;
    top: -450px;
    left: 430px;
    font-size: 30px;
}
.main h3:before {
    content: '';
    position: absolute;
    bottom: -5px;
    top: 55px;
    width: 200px;
    height: 4px;
    background: #000000;
}

.sale {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    position: relative;
    top: -550px;
    width: 1223px;
    left: 430px;
}
.sale h3 {
    font-size: 30px;
}

.sale img {
    max-width: 100%;
    height: 350px;
}
.component {
    position: relative;
    top: 200px;
    left: 0px;
}
.component button{
    position: relative;
    top: 20px;
    left: 60px;
}
.product {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}
.size {
    font-size: 12px;
    color: #999999;
}
.price {
    color: red;
    font-size: 18px;
    font-weight: 600;
}
.price p {
    color: #999999;
    font-size: 12px;
    font-weight: 700;
    text-decoration: line-through;
}
