*{
    transition: 0.2s;
}

.Header{
    grid-area: Header;
    background: white;
    display:grid;
    grid-template-areas:
            'Logo HeaderMain Login ';
    grid-template-columns: 2fr 6fr 3.5fr ;
    margin: 0px 0px 20px;
    font-family: 'Popins', sans-serif;
    padding: 0;
    position: relative;


}

.Header a:hover { 

    color: #bf1650;
    /*#ec5990;*/


}

.logo{
    color: black;
    grid-area: Logo;
    position: relative;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-left: 50px;



}
.logo a{

    color: black;
    text-decoration: none;

}
.HeaderMain{
    grid-area: HeaderMain;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.HeaderMain a{
    color: black;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    text-indent: 5em;
    font-size: 20px;
    margin-top: 30px;


}
.Login{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Login a{
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    text-indent: 1em;
    font-size: 20px;
    margin-top: 30px;
}
.cart{
    color: black;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    text-indent: 2em;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;

}
.cartLength{
    display: inline-block;

}



@media screen and (max-width: 600px) {
    .Header {
        width: 50%;
        margin-bottom: 20px;
}

}
@media screen and (max-width: 800px) {
    .Header {
        width: 70%;
        margin-bottom: 20px;
}
}

