*{
    transition: 0.2s;
}

.Header{
    grid-area: Header;
    background: white;
    display:grid;
    grid-template-areas:
            'Logo HeaderMain Login ';
    grid-template-columns: 1.8fr 6fr 4fr ;
    margin: 0px 0px 20px;
    font-family: 'Popins', sans-serif;
    width: 100%;
}

.Header a:hover { 

    color: #bf1650;
    /*#ec5990;*/


}

.logo{
    color: black;
    grid-area: Logo;
    position: relative;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-left: 50px;
}
.logo a{

    color: black;
    text-decoration: none;

}
.HeaderMain{
    grid-area: HeaderMain;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.HeaderMain a{
    color: black;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    text-indent: 5em;
    font-size: 20px;
    margin-top: 24px;
}
.Login{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Login a{
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    text-indent: 1.4em;
    font-size: 20px;
    margin-top: 23px;
}
.cart{
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
}
.cartLength{
    display: inline-block;
    text-indent: 1em;
}
.price{
    display: inline-block;
}


@media screen and (min-width: 1000px) {
  .menu{
      display: none;
  }

}
@media screen and (max-width: 1300px) {
    .Header {
        grid-template-columns: auto ;

}
.Header a{
    letter-spacing: 2px;
    text-indent: 1.8em;
    margin-top: 18px;
}
.logo a{
    font-size: 25px;
}
.logo{
    margin-top: 8px;
    margin-left: 18px;
}

}
@media all and (max-width: 1000px) {

.HeaderMain a{
   display: none;
}
.Header{
    grid-area: Header;
    display:grid;
    grid-template-areas:
            'menu Logo Login ';
    grid-template-columns: 2fr 2fr 5fr ;
    /* position: fixed;
    z-index: 100; */
}
.menu{
    grid-area: menu;
    position: relative;
    top:15px;
    left:20px;
    z-index: 2;
}
.menu button:hover{
    color: red;
}
.menu ul li{
    list-style-type: none;
}
.menu1{
    background-color: white;
    display: flex;
    flex-direction:column;
    font-size: 20px;
    width: 55%;
    z-index: 2;
}
.menu1 a{
    margin-left: -26px;
}

.menu2{
    transform: translateX(-130%);
}
.Header a{
    max-height: 20px;
}
}

@media screen and (max-width: 800px) {
    .Header{
        max-height: 50px;
    }
    .Header a{
        font-size: 18px;
    }
    .logo a{
        font-size: 21px;
    }
    .logo{
        margin-top: 4px;
        margin-left: 4px;
    }
    .menu{
        grid-area: menu;
        position: relative;
        top:11px;
        left:20px;
        z-index: 2;
    }
    .menu1{
        width: 58%;
    }
}

@media screen and (max-width: 500px) {

    .Header{
        width: 99%;
        max-height: 20px;
        grid-template-columns: 2fr 1.2fr 5.2fr ;
    }
    .Header a{
        font-size: 14px;
        text-indent: 1.2em;
    }
    .logo a{
        font-size: 16px;
        
    }
    .logo{
        margin-top: 1px;
        margin-left: 0px;
    }
    .menu{
        grid-area: menu;
        position: relative;
        top:9px;
        left:5px;
        z-index: 2;
    }
    .menu1{
        width: 77%;
    }
    .menu1 a{
        margin-left: -26px;
    }
    
}
@media screen and (max-width: 400px) {

    .Header{
        max-height: 50px;
        grid-template-columns: 1.5fr 1.2fr 5fr ;
    }
    .Header a{
        font-size: 11px;
        text-indent: 1em;
    }
    .logo a{
        font-size: 12px;
    }
    .logo{
        margin-top: -4px;
        margin-left: 4px;
    }
    .menu{
        grid-area: menu;
        position: relative;
        top:4px;
        left:1px;
        z-index: 2;
        width: 130%;
    }
}