*{
    transition: 0.2s;
}

.Footer {
    grid-area: footer;
    margin-top: 100px;
    padding: 30px 200px;
    font-family: 'Popins', sans-serif;
    background: #f0f3f2;
    position: relative;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.AboutUs {
    margin: 0 auto;
    width: 40%;
}

.Container h3 {
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
}

.AboutUs h3:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 77px;
    height: 2px;
    background: #f00;
}



.Links {
    display: flex;
    justify-content: left;
}

.Links a {
    text-decoration: none;
    text-indent: 2em;
    margin-top: 10px;
}



.QuickLinks h3:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 91px;
    height: 2px;
    background: #f00;
}
.QuickLinks {
    position: relative;
    width: 25%;
}

.QuickLinks   a{
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;
    list-style: none;
}
.QuickLinks  a:hover{
    color: #fff;

}
.Contact{
    width: 25%;
}
.Contact h3:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100px;
    height: 2px;
    background: #f00;
}
.Contact  a{
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;
    list-style: none;
}

.Footer  a:hover{
    color: #bf1650;
}
.CopyrightText{
    text-align: center;
    margin-top: 10px;
}
@media all and (max-width: 1300px) {
    .Footer {
        padding: 0;
       font-size: 16px;
    }
    .Footer h3 {
        margin-top: 20px;
     }
    .AboutUs  {
        font-size: 14px;
    }
}

@media all and (max-width: 1000px) {
    
    .Footer {
        padding: 0;
       font-size: 16px;
    }
    .Container h3 {
        font-size: 18px;
    }
    .AboutUs  {
        font-size: 12px;
    }
}
@media all and (max-width: 800px) {
    .Footer {
       font-size: 13px;
    }
    .Container h3 {
        font-size: 16px;
    }
    .Contact {
        font-size: 12px;
    }
    .AboutUs  {
        font-size: 10px;
    }
}
@media all and (max-width: 600px) {
    .Footer {
       font-size: 12px;
    }
    .Container h3 {
        font-size: 16px;
    }
    .Footer h3:before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 80px;
        height: 2px;
        background: #f00;
    }
    .Contact {
        font-size: 9px;
    }
    .Contact span{
        margin-top: 6px;
    }
    .AboutUs  {
        font-size: 8px;
    }
}
@media all and (max-width: 500px) {
    .Footer {
       font-size: 10px;
    }
    .Container h3 {
        font-size: 14px;
    }
    .Footer h3:before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 80px;
        height: 2px;
        background: #f00;
    }
    .Links a {
        text-indent: 1em;
    }
    .Contact {
        font-size: 7px;
    }
    .AboutUs  {
        font-size: 7px;
    }
}

@media all and (max-width: 400px) {
    .Footer {
       font-size: 7px;
    }
    .Container h3 {
        font-size: 10px;
    }
    .Footer h3:before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 60px;
        height: 2px;
        background: #f00;
    }
    .Links a {
        text-indent: 0.5em;
    }
    
    .Contact {
        font-size: 6px;
    }
    .AboutUs  {
        font-size: 5px;
    }
}

