.main{
    grid-area:main;
}
.Content {
    display: grid;
    grid-template-areas: 'header' 'select' 'maincontent';
    grid-template-rows:auto auto auto;
    letter-spacing: 1px;
    justify-content: center;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #bf1650;
    text-decoration: none;
}

.header{
    grid-area: header;
    display: flex;
    justify-content: center;
    margin: 90px 0px 50px;
}
.header h3{
    font-size: 34px;
}
.select {
    grid-area: select;
    display: flex;
    justify-content: center;
}

.maincontent {
    grid-area: maincontent;
}
@media screen and (max-width: 800px) {
    .select {
        grid-area: select;
        display: block;
        margin: 0 auto;
    }
}

