
.Content{
  display:grid;
  grid-template-areas:
          'Header'
          'maincontent'
          'footer';
  grid-template-rows: 0.2fr auto auto;
background-color:  white;

}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}
a:hover { 

  cursor: pointer !important;

}
button{

  border: none;
  background: transparent;
}




