
.Content{
  display:grid;
  grid-template-areas:
          'Header Header Header'
          'maincontent maincontent maincontent'
          'footer footer footer';
  grid-template-rows: 0.2fr auto 0.8fr;
background-color:  white;

}